In [19]:
import pandas as pd

In [20]:
fake_data = pd.read_csv('../data/Fake.csv')
fake_data['label'] = 'fake'
fake_data.head()

                                               title  ... label
0   Donald Trump Sends Out Embarrassing New Year’...  ...  fake
1   Drunk Bragging Trump Staffer Started Russian ...  ...  fake
2   Sheriff David Clarke Becomes An Internet Joke...  ...  fake
3   Trump Is So Obsessed He Even Has Obama’s Name...  ...  fake
4   Pope Francis Just Called Out Donald Trump Dur...  ...  fake

[5 rows x 5 columns]

In [21]:
true_Data = pd.read_csv('../data/True.csv')
true_Data['label'] = 'true'
true_Data.head()

                                               title  ... label
0  As U.S. budget fight looms, Republicans flip t...  ...  true
1  U.S. military to accept transgender recruits o...  ...  true
2  Senior U.S. Republican senator: 'Let Mr. Muell...  ...  true
3  FBI Russia probe helped by Australian diplomat...  ...  true
4  Trump wants Postal Service to charge 'much mor...  ...  true

[5 rows x 5 columns]

In [27]:
data =  pd.concat([true_Data,fake_data], axis = 0)
data = data.sample(frac=1, random_state=42).reset_index(drop=True)
data['title_len'] = data['title'].str.len()
data['text_len'] = data['text'].str.len()

data['title_word_count'] = data['title'].str.split().str.len()
data['text_word_count'] = data['text'].str.split().str.len()


data.head()

                                               title  ... text_word_count
0   BREAKING: GOP Chairman Grassley Has Had Enoug...  ...             361
1   Failed GOP Candidates Remembered In Hilarious...  ...             495
2   Mike Pence’s New DC Neighbors Are HILARIOUSLY...  ...             379
3  California AG pledges to defend birth control ...  ...              88
4  AZ RANCHERS Living On US-Mexico Border Destroy...  ...             138

[5 rows x 9 columns]

In [28]:
data.info(memory_usage='deep')

<class 'pandas.DataFrame'>
RangeIndex: 44898 entries, 0 to 44897
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   title             44898 non-null  str
 1   text              44898 non-null  str
 2   subject           44898 non-null  str
 3   date              44898 non-null  str
 4   label             44898 non-null  str
 5   title_len         44898 non-null  int64
 6   text_len          44898 non-null  int64
 7   title_word_count  44898 non-null  int64
 8   text_word_count   44898 non-null  int64
dtypes: int64(4), str(5)
memory usage: 151.2 MB