In [31]:
import pandas as pd

In [ ]:
fake_data = pd.read_csv("../data/Fake.csv")
fake_data["label"] = "fake"
fake_data.head()

                                               title  ... label
0   Donald Trump Sends Out Embarrassing New Year’...  ...  fake
1   Drunk Bragging Trump Staffer Started Russian ...  ...  fake
2   Sheriff David Clarke Becomes An Internet Joke...  ...  fake
3   Trump Is So Obsessed He Even Has Obama’s Name...  ...  fake
4   Pope Francis Just Called Out Donald Trump Dur...  ...  fake

[5 rows x 5 columns]

In [ ]:
true_Data = pd.read_csv("../data/True.csv")
true_Data["label"] = "true"
true_Data.head()

                                               title  ... label
0  As U.S. budget fight looms, Republicans flip t...  ...  true
1  U.S. military to accept transgender recruits o...  ...  true
2  Senior U.S. Republican senator: 'Let Mr. Muell...  ...  true
3  FBI Russia probe helped by Australian diplomat...  ...  true
4  Trump wants Postal Service to charge 'much mor...  ...  true

[5 rows x 5 columns]

In [ ]:
data = pd.concat([true_Data, fake_data], axis=0)
data = data.sample(frac=1, random_state=42).reset_index(drop=True)
data["title_len"] = data["title"].str.len()
data["text_len"] = data["text"].str.len()

data["title_word_count"] = data["title"].str.split().str.len()
data["text_word_count"] = data["text"].str.split().str.len()


data.head()

                                               title  ... text_word_count
0   BREAKING: GOP Chairman Grassley Has Had Enoug...  ...             361
1   Failed GOP Candidates Remembered In Hilarious...  ...             495
2   Mike Pence’s New DC Neighbors Are HILARIOUSLY...  ...             379
3  California AG pledges to defend birth control ...  ...              88
4  AZ RANCHERS Living On US-Mexico Border Destroy...  ...             138

[5 rows x 9 columns]

In [ ]:
data.info(memory_usage="deep")

<class 'pandas.DataFrame'>
RangeIndex: 44898 entries, 0 to 44897
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   title             44898 non-null  str
 1   text              44898 non-null  str
 2   subject           44898 non-null  str
 3   date              44898 non-null  str
 4   label             44898 non-null  str
 5   title_len         44898 non-null  int64
 6   text_len          44898 non-null  int64
 7   title_word_count  44898 non-null  int64
 8   text_word_count   44898 non-null  int64
dtypes: int64(4), str(5)
memory usage: 151.2 MB

In [ ]:
data.to_csv("../data/final_nlp_data.csv.gz", index=False, compression="gzip")

In [1]:
import pandas as pd
from pathlib import Path
import logging

logger = logging.getLogger(__name__)

Fake_data = "../data/Fake.csv"
True_Data = "../data/True.csv"


def ingest_data(fake_Data: str = Fake_data, true_Data: str = True_Data) -> pd.DataFrame:
    fake_data_path = Path(Fake_data)
    true_data_apth = Path(True_Data)

    if not fake_data_path.exists():
        logger.error(f"Data source not found at {fake_data_path}")
        raise FileNotFoundError(f"Data source not found at {fake_data_path}")

    logger.info(f"Loading data from {fake_data_path}")

    if not true_data_apth.exists():
        logger.error(f"Data source not found at {true_data_apth}")
        raise FileNotFoundError(f"Data source not found at {true_data_apth}")

    logger.info(f"Loading data from {true_data_apth}")

    try:
        fake_data = pd.read_csv(fake_Data)
        fake_data["label"] = "fake"
        logger.info(f"Data loaded successfully with shape {fake_data.shape}")

        true_Data = pd.read_csv(true_Data)
        true_Data["label"] = "true"
        logger.info(f"Data loaded successfully with shape {true_Data.shape}")

        data = pd.concat([true_Data, fake_data], axis=0)
        data = data.sample(frac=1, random_state=42).reset_index(drop=True)
        data["title_len"] = data["title"].str.len()
        data["text_len"] = data["text"].str.len()

        data["title_word_count"] = data["title"].str.split().str.len()
        data["text_word_count"] = data["text"].str.split().str.len()
        return data

    except Exception as e:
        logger.error(f"Error loading data: {e}")
        raise


if __name__ == "__main__":
    data = ingest_data(fake_Data=Fake_data, true_Data=True_Data)
    print(data.head())
    print(data.isnull().sum().value_counts())
    print(data.duplicated().sum())
    print(f"Data shape: {data.shape}")

                                               title  \
0   BREAKING: GOP Chairman Grassley Has Had Enoug...
1   Failed GOP Candidates Remembered In Hilarious...
2   Mike Pence’s New DC Neighbors Are HILARIOUSLY...
3  California AG pledges to defend birth control ...
4  AZ RANCHERS Living On US-Mexico Border Destroy...

                                                text       subject  \
0  Donald Trump s White House is in chaos, and th...          News
1  Now that Donald Trump is the presumptive GOP n...          News
2  Mike Pence is a huge homophobe. He supports ex...          News
3  SAN FRANCISCO (Reuters) - California Attorney ...  politicsNews
4  Twisted reasoning is all that comes from Pelos...      politics

               date label  title_len  text_len  title_word_count  \
0     July 21, 2017  fake         76      2114                11
1       May 7, 2016  fake         71      2823                 9
2  December 3, 2016  fake         88      2402                14
3  October 6, 2017   true         64       629                 9
4      Apr 25, 2017  fake        124       793                19

   text_word_count
0              361
1              495
2              379
3               88
4              138
0    9
Name: count, dtype: int64
209
Data shape: (44898, 9)